@model CreateUniversityCommand
@{
    ViewData["Title"] = "AddUniversity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <br />
        <label>Üniversite Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <label>Şehir</label>
        <input type="text" asp-for="City" class="form-control" />
        <br />
        <label>Nüfus</label>
        <input type="text" asp-for="Population" class="form-control" />
        <br />
        <label>Fakülte Sayısı</label>
        <input type="text" asp-for="FacultyCount" class="form-control" />
        <br />
        <button class="btn btn-info">Ekle</button>
    </form>
</div>

